In [1]:
%load_ext autoreload
%autoreload 2

# Dataset Creation

In [21]:
from datasets import load_dataset
import tqdm as tqdm

books_movie_cleaning = load_dataset("ada-datadruids/movies_based_on_books_with_budget")
movies_based_on_books_df = books_movie_cleaning['train'].to_pandas()

movies_based_on_books_df.drop(columns=['Unnamed: 0'], inplace=True)
print(len(movies_based_on_books_df))
movies_based_on_books_df.head()

C:\Users\LucaS\anaconda3\envs\ada-project\Lib\site-packages\huggingface_hub\file_download.py:139: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\LucaS\.cache\huggingface\hub\datasets--ada-datadruids--movies_based_on_books_with_budget. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Generating train split: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1845/1845 [00:00<00:00, 85250.08 examples/s]

1845

,movie_id,movie_cluster,movie_name,release_date,runtime_x,language,country,genres,movie_year,index,...,revenue,budget,rb_ratio,book_id,normalized_rating_x,standardized_rating_x,normalized_rating_y,standardized_rating_y,length,review_count
0,77856,/m/0kcn7,Mary Poppins,1964-08-27,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",1964,1279,...,103082380.0,6000000.0,17.180397,152380.0,0.802817,1.263138,0.680000,0.676011,209.0,4387.0
1,1369204,/m/04x8zs,Juarez,1939,125.0,"{""/m/02h40lc"": ""English Language"", ""/m/06nm1"":...","{""/m/09c7w0"": ""United States of America""}","{""/m/04xvh5"": ""Costume drama"", ""/m/03bxz7"": ""B...",1939,1504,...,0.0,0.0,NaN,10546105.0,0.732394,0.768571,0.763333,1.545003,384.0,1.0
2,164388,/m/015wmt,The Great Santini,1979-10-26,115.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02h8pkk"": ""Family Drama"", ""/m/07s9rl0"": ""...",1979,883,...,0.0,0.0,NaN,1110004.0,0.718310,0.669658,0.713333,1.023608,536.0,1115.0
3,19095614,/m/04yc5nd,The Castle,1968,88.0,"{""/m/04306rv"": ""German Language""}","{""/m/082fr"": ""West Germany""}","{""/m/02n4kr"": ""Mystery"", ""/m/07s9rl0"": ""Drama""}",1968,395,...,0.0,0.0,NaN,152864.0,0.676056,0.372918,0.656667,0.432693,401.0,1595.0
4,13613357,/m/03cbvzw,Grand Canary,1934-07-20,78.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02l7c8"": ""Romance Film"", ""/m/07s9rl0"": ""D...",1934,867,...,0.0,0.0,NaN,37941573.0,0.746479,0.867485,0.506667,-1.131492,224.0,12.0

In [22]:
movies_based_on_books_df.dropna(subset=['rb_ratio'], inplace=True)
print(len(movies_based_on_books_df))

659

In [23]:
movies_based_on_books_df.to_csv('movies_based_on_books_filtered.csv', index=False)

## Create Dataset of Movies not Based on Books

In [27]:
full_tmdb_dataset = load_dataset("ada-datadruids/full_tmdb_movies_dataset")
full_tmdb_dataset_df = full_tmdb_dataset['train'].to_pandas()
print(len(full_tmdb_dataset_df))
full_tmdb_dataset_df.head()

1142342

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [28]:
import pandas as pd

full_tmdb_dataset_df.dropna(subset=['revenue'], inplace=True)
full_tmdb_dataset_df.drop_duplicates(subset=['imdb_id', 'id'], inplace=True)
full_tmdb_dataset_df.dropna(subset=['budget'], inplace=True)

full_tmdb_dataset_df['release_date'] = pd.to_datetime(full_tmdb_dataset_df['release_date'])
full_tmdb_dataset_df = full_tmdb_dataset_df[full_tmdb_dataset_df['release_date'].dt.year <= 2014]
print(len(full_tmdb_dataset_df))

576931

In [29]:
imdb_ids_to_remove = movies_based_on_books_df['imdbid'].tolist()
tmdb_dataset_reduced_df = full_tmdb_dataset_df[~full_tmdb_dataset_df['imdb_id'].isin(imdb_ids_to_remove)]
print(len(tmdb_dataset_reduced_df))
tmdb_dataset_reduced_df.head()

576272

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [32]:
tmdb_dataset_reduced_df.to_csv('movies_not_based_on_booksfiltered.csv', index=False)

# Regression